/**********PALETA DE COLORES************/
$primary-color: #FD4556;
$secondary-color: #BD3944;
$tertiary-color: #53212B;
$text-color: #FFFBF5;
$black-color: #000000;
$green-color: #0FD2B1;
/**************************************/

h1{
    color: $text-color;
    font-size: calc(8px + 4vw);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 5%;
}

.botonPersonaje{
    width: 45%;
    display: block;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

#jettkj{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botonVolver{
  position:fixed;
width:400px;
height:60px;
top:40px;
left:40px;
  background-color: transparent;
color:$text-color;
border-radius:50px;
  font-family: 'Oswald', sans-serif;
  font-size: calc(5px + 1.5vw);
  border-color: transparent;
text-align:center;
}
