/*PALETA DE COLORES*/
$primary-color: #FD4556;
$secondary-color: #BD3944;
$tertiary-color: #53212B;
$text-color: #FFFBF5;
$black-color: #000000;
$green-color: #0FD2B1;

html,
body {
  color: $text-color;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif !important;
  background-image: url("/assets/1203280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
  background-size:auto;
}

.video-js .vjs-control-bar {
  background-color: $green-color !important;
  color: #031b17;
  border-radius: 0px 0px 20px 20px !important;
}

.video-js .vjs-play-progress{
  background-color: #031b17 !important;
}

.vjs-volume-level{
  background-color: #031b17 !important;
}

#videojs{
  border: solid #0FD2B1 2px !important;
}

.vjs-poster{
  border-radius: 20px;
  background-size: cover !important;
}

.vjs-modal-dialog{
  border-radius: 20px !important;
}

.vjs-modal-dialog-content{
  overflow: hidden !important;
  
  h1{
    font-family: 'Oswald', sans-serif;
  }
  img{
    width: 200px;
    margin:auto;
    display:block;
    height: auto;
    border-radius:15px;
  }

  #imgperder{
    display:none;
  }

  .btn-primary{
    font-size: 17px !important;
  }

  .btn-primary:disabled{
    background-color: transparent !important;
  }

  .btn-primary:hover{
    background-color: #FD4556;
  }

  .btn-primary:active{
    background-color: #BD3944 !important;
  }

  #ganar{
    display:none;
    color: #0FD2B1;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    margin: 0 !important;
  }

  #perder{
    display:none;
    color: #FD4556;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    margin: 0 !important;
  }

  #boton1Correcta:disabled{
    opacity:1 !important;
    background-color: #0FD2B1 !important;
  }
  #boton2Correcta:disabled{
    opacity:1 !important;
    background-color: #0FD2B1 !important;
  }
  #boton3Correcta:disabled{
    opacity:1 !important;
    background-color: #0FD2B1 !important;
  }

  a{
    text-decoration:none;
  }

  #img-info{
    width: 150px;
    margin:auto;
    display:block;
    border-radius:15px;
  }

  #imgperder{
    display:none;
  }

  #imgGanar{
    display:none;
  }
}

.vjs-big-play-button{
  background-color: $green-color !important;
  border-radius: 10 !important;
}

.vjs-close-button{
  color:$green-color !important;
}

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/video.js/src/css/video-js';

