<div *ngIf="router.url === '/general'; else elseIfBlock" class="mt-5 d-flex flex-column align-items-center fondo">
    <div class="justify-content-center">
      <h1>
        <strong>BIENVENID@s A VALORANT INTERACTIVE GAME</strong>
      </h1>
      <br>




        <!--<button routerLink="/adivinaJugada"class="nav-link btnQuiz" routerLinkActive="active">QUIZ  AGENTES</button>
        <br>
        <button routerLink="/adivinaJugada" class="nav-link btnJugada" routerLinkActive="active">ADIVINA LA JUGADA</button>-->

        <div class="container">
          <a routerLink="/adivinaJugada" class="btnInicio" routerLinkActive="active">Adivina la jugada</a>
          <a routerLink="/quiz" class="btnInicio" routerLinkActive="active">Quiz de valorant</a>
        </div>


    </div>
</div>
<ng-template #elseIfBlock>
  <router-outlet></router-outlet>
</ng-template>
